<suite name="Suite de Pruebas" parallel="tests" thread-count="10">
<!--    <suite name="Suite de Pruebas" parallel="classes" thread-count="10">-->

<!--    <suite name="Suite de Pruebas" parallel="methods" thread-count="10">-->

    <test name="Pruebas en Chrome Windows">
        <parameter name="browser" value="chrome" />
        <parameter name="platform" value="win11" />
        <packages>
            <package name="tests" />
        </packages>
    </test>

    <test name="Pruebas en Chrome Linux">
        <parameter name="browser" value="chrome" />
        <parameter name="platform" value="linux" />
        <packages>
            <package name="tests" />
        </packages>
    </test>

    <test name="Pruebas en Firefox">
        <parameter name="browser" value="firefox" />
        <parameter name="platform" value="linux" />
        <packages>
            <package name="tests" />
        </packages>
    </test>
</suite>
